<footer>
	<div class="row">
		<div class="medium-12 columns"><img alt="" style="max-width: 245px; margin-bottom: 30px;" src="/assets/img/logo-white.png" />
		</div>
		<div class="medium-12 columns">
			<div class="copy">
				<p class="">&#169; The Clement Companies, Inc. {{ site.time | date: "%Y" }}. All Rights Reserved. Site designed and powered by
					<a href="http://accoladesit.com" target="_blank" title="Accolades - Website Design Lafayette Louisiana">Accolades IT</a>
				</p>

			</div>
		</div>
	</div>
</footer>